.AirportsInfo{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
}
.AirportsContainer{
   width: 95%; 
    height: 90%;
    background-color: #333333;
    border-bottom-left-radius: 1em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DepartureAirportInformation, .DestinationAirportInformation{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 95%;
    align-items: center;
    /* background-color: red; */
}
.AirportIndividualInformation{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 80%;
    /* background-color: blue; */
}
.AirportIndividualInformation h1{
    
}