
.MapPopUp{
    z-index: 99;
    height: 100%;
    width: 95%;
    /* margin */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 10%; */
    /* right: 20%; */
    background-color: rgba(128, 128, 128, 0.623);
}
.GoogleMapContainer {   
  width: 60%;
  height: 70%;        
  flex: 0 0 auto;       
}
.CloseMaps{
    color: white;
    width: 4%;
    height: 4%;
    background-color: red;
    position: absolute;
    top: 11%;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}