.UpperSectionAir{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    margin-top: 2%;
   width: 90%;
   height: 50%;
   background-color: white;
   display: flex;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}