@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jaro:opsz@6..72&family=Lexend+Deca:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rammetto+One&family=Sigmar+One&display=swap');

#root{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #333333;
}
body{
  margin: 0;
  padding: 0;
}
/* p{
  font-size: 0.8vw;
}
h2{
  font-size: 1.3vw;
  
}
h4{
  font-size: 0.85vw;
}
button{
  font-size: 1vw;
} */
input, textarea{
  outline: none;
}
