.Tasks_Team{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;
}
.DisplayTasks{
    height: 60%;
    width: 80%;
    background-color: #7F7F7F;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-bottom: 2em;
}
.DisplayTasksHeader{
    height: 15%;
    width: 99%;
    background-color: white;
    border: 2px solid black;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    display: grid;
    place-items: center;
    font-size: larger;

}
.DisplayTasksContainer{    
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    overflow-y: auto;
}
.TaskElement{
    padding: 0.5em;
    border-radius: 1em;
    margin-block-start: 3vh;
    min-height: 50%;
    width: 70%;
    background-color: #FFFF80;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
.TaskElement h1, .TaskElement p{
    margin: 0;
    display: flex;
    width: 100%;    
}
.TaskElement h1{
    color: black;
    font-size: larger;
}
.TaskInformation{
    height: 50%;
    width: 90%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1em;
}
.TaskElement button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    border: 1px solid gray;
    border-radius: 0.5em;
    background-color: #95F204;    
}
.DisplayTasksHeader p{
    margin: 0;
}
.TaskButtons{
    /* background-color: green; */
    height: 32%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.TaskButtons button,.LinkDashboard{
    height: 20%;
    width: 70%;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.7em;
    cursor: pointer;
}
.TaskButtons button:nth-of-type(odd){
    border: 2px solid #910012;
    
}
.LinkDashboard button {
    height: 100%;
    width: 100%;
}