.Updates_Team{
    height: 100%;
    width: 90%;    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.RecentUpdatesContainer{
    height: 50%;
    width: 90%;
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #797979;
    border-radius: 0.25em;
}
.RecentUpdates{
    height: 82%;
    width: 90%;
    overflow: auto;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.UpdatesItemContainer{
    width: 100%;
    min-height: 25%;
    height: 100;
    max-height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.ItemsUpdates{
    width: 80%;
    margin-block: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}
.UpdatesItemContainer h2{
    color: black;
}
.UpdatesItemContainer p, .UpdatesItemContainer h2{
    margin-block: 1vh;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.UpdatesItemContainer button{
    height: 45%;
    border: 1px solid gray;
    border-radius: 1em;
    background-color: white;
    color: black;
    width: 15%;
    cursor: pointer;
}
.RecentUpdates ul{
    padding: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.RecentUpdatesHeader{
    margin-block: 1vh;
    background-color: black;
    color: white;
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ButtonsUpdate{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 8%;
}
.ButtonsUpdate button{
    width: 40%;
    height: 70%;
    cursor: pointer;
    border-radius: 1.2em;
    border: 2px solid #7F7F7F;
    color: white;
    font-size: large;
    text-align: center;
}
.DisplayTeamInformation{
    height: 39%;
    width: 90%;
    display: flex; 
    align-items: center;   
    justify-content: space-between;
}
.TeamMembers{
    height: 90%;   
    width: 48%;
    border: 1px solid #797979;
    border-radius: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.TeamMembersHeader{
    color: white;
    background-color: black;
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 1vh;
}
.TeamMemebersContainer{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;    
    flex-direction: column;
    overflow-y: auto;
}
.Member{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 1.5vh;
    min-height: 20%;
    height: 20%;
    width: 90%;
    background-color: #E8E8E8;
}
.MemeberContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
.MemeberContainer p{
    width: 80%;
    overflow: auto;
}
.Member img{
    width: 19%;
    cursor: pointer;
}

.teamImg img{
    width: 35%;
}